/* body {
    background-image: url("assets/images/nubucks@3x.png");
    background-repeat: no-repeat;
   

    
} */
#logo {
  height: 80px;
  
}

.footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #e9ecef;
   color: black;
   text-align: center;
}

#logo2 {
    height: 50px;
    
}

.centerBalance {
    margin: auto;
    width: 17%;
    
    padding: 10px;
    
}


.nuToken {
    border: 2px solid #2fabb2;
    border-radius: 5px;
    padding: 5px;
    padding-top:15px;
}
.tokenText {
    margin-bottom:0
}
#token {
    display: inline-block!important;
    
}
.greenBorder {
    border-top: 2px solid #2fabb2;
    border-bottom: 1px solid #2fabb2
    
}

#idSearch{
   padding-bottom: 7px;
   padding-top: 2px;
   
}

#idSearch2{
   padding-bottom: 7px;
   padding-top: 2px;
   
}


.white {
    height: 50px;
}

/* .container80 {
    width: 80%;
} */

/* #balance {
    color: #367588;
    float: right;
    font-size:24px;
    margin-bottom: 20px
} */

