
.greenBorder {
    border-top: 3px solid #2fabb2;
    
}

#idSearch{
   padding-bottom: 7px;
   padding-top: 2px;
   
}

#idSearch2{
   padding-bottom: 7px;
   padding-top: 2px;
   
}
/* .teal {
    height: 50px;
    background-color: #d9dddd;
} */

.white {
    height: 50px;
}

/* .container80 {
    width: 80%;
} */

/* #balance {
    color: #367588;
    float: right;
    font-size:24px;
    margin-bottom: 20px
} */

